@{
    ViewBag.Title = "Государственный театр оперы и балета";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
		<h1 id="title">Государственный театр оперы и балета</h1>
    </section>
</main>